<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="SPOT Software srl">
    <meta name="keywords" content="spot, spot software, software development, android development, iOS development, web development, agile development, google glass explorer, google glass development, api sdk integration, wearable devices development, sviluppo software, realizzazione applicazioni desktop, sviluppo mobile, sviluppo iOS, sviluppo Android, integrazione sistemi, realizzazione applicazioni web, realizzazione siti web">

    <title>
        <%= gettext( "title") %>
    </title>

    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">

    <link href="styles/vendor/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="styles/site.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="scripts/vendor/jquery/jquery-bxslider.js"></script>
    <script src="scripts/vendor/jquery/jquery-fixedonlater.js"></script>
    <script src="scripts/vendor/jquery/jquery-onepagenav.js"></script>
    <script src="scripts/vendor/jquery/jquery-waipoints.js"></script>
    <script src="scripts/vendor/jquery/jquery-easing.min.js"></script>
    <script src="scripts/vendor/jquery/jquery-debouncedresize.js"></script>
    <script src="scripts/vendor/jquery/jquery-imagesloaded.js"></script>
    <script src="scripts/vendor/modernizr.custom.js"></script>
    <script src="scripts/vendor/bootstrap.js"></script>
    <script src="scripts/vendor/bootstrap/collapse.js"></script>
    <script src="scripts/index.js"></script>
</head>

<body>

    <%- include partials/navbar.ejs %>

    <%- include partials/sections/header.ejs %>

    <%- include partials/sections/presentation.ejs %>

    <%- include partials/sections/skills.ejs %>

    <%- include partials/sections/portfolio.ejs %>

    <%- include partials/sections/contacts.ejs %>

    <%- include partials/sections/customers.ejs %>

</body>


<script src="scripts/vendor/og-grid.js"></script>

</html>