<header style="background-image: url('images/bg-header.jpg')">
    <div class="welcome-content">
        <img class="img-responsive img-centered logo" src="images/logo.png" alt="<%= gettext('title') %>">
        <div class="brand-motto">WE MAKE SOFTWARE</div>
        <hr>
        <div class="skills-wrapper">
            <ul class="skills">
                <li>
                    <h1><%= gettext('mobile_development') %></h1>
                </li>
                <li>
                    <h1><%= gettext('web_development') %></h1>
                </li>
                <li>
                    <h1><%= gettext('desktop_development') %></h1>
                </li>
                <li>
                    <h1><%= gettext('ux_design') %></h1>
                </li>
                <li>
                    <h1><%= gettext('ui_design') %></h1>
                </li>
            </ul>
        </div>
    </div>
    <div class="scroll-down">
        <a class="btn" href="#who">
            <i class="fa fa-angle-down fa-fw"></i>
        </a>
    </div>
</header>