<div id="portfolio" class="section">
    <div class="container-fluid">
        <ul id="og-grid" class="og-grid">
            <% model.projects.forEach(function (project) { %>
                <li>
                    <a class="noclick" href="<%= project.url %>" data-images="<%= project.images %>" data-video="<%= project.video %>" data-title="<%= project.title %>" data-description="<%= project.description %>">
                        <img src="<%= project.thumb %>" alt="<%= project.title %>" />
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
</div>